* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: #292827;
    display: flex;
    flex-direction: row;
}

/* Right side of page */

.logo__company {
    background-color: #19a404;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    height: 100vh;
}

.company_name {
    font-family: "Kode Mono", monospace;
    margin-top: 30px;
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 40px;
}

.logo__company-image {
    width: 650px; 
}

.image__caption {
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    top: 670px;
    left: 110px;
    text-align: center;
    font-size: 30px;
}

.form_setup {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 40px;
}

.form__heading {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 20px;
}

.form__input {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 70px;
}

.form_input__row {
    display: flex;
    flex-direction: row;
    gap: 200px;
    margin-bottom: 20px;
}

.form_input__text {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
}

.form_input__prompt {
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    margin-top: 10px;
    width: 200px;
    height: 20px;
    background: none;
}

.button {
    margin-top: 30px;
}


.button-action {
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 15px;
    background-color: #19a404;
}

.log_in {
    margin-top: 20px;
    font-size: 15px;
    color: #e3dfda;
}

.log_in__button {
    text-decoration: none;
    color: #9b9793;
}

.log_in__button:hover {
    transition: 1s;
    color: #19a404;
}

